# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

# Visual Studio
.vs/
*.suo
*.user
*.csproj
*.sln
*.sln*
*.pidb

# OS
.DS_Store
Thumbs.db

# Builds
*.apk
*.exe
*.zip
*.rar
*.psd
*.mp4
*.wav

# Rider / JetBrains
.idea/
*.iml
